boto==2.49.0
boto3==1.28.54
botocore==1.31.54
bz2file==0.98
certifi==2022.12.7
charset-normalizer==3.2.0
contourpy==1.1.1
cycler==0.12.1
elastic-transport==8.4.0
elasticsearch==8.7.0
fonttools==4.43.1
idna==3.4
jmespath==1.0.1
kiwisolver==1.4.5
lxml==4.9.3
matplotlib==3.8.0
ndjson==0.3.1
numpy==1.26.1
packaging==23.2
pandas==2.1.1
Pillow==10.1.0
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.31.0
s3transfer==0.6.2
seaborn==0.13.0
six==1.16.0
smart-open==6.4.0
tqdm==4.65.0
tzdata==2023.3
urllib3==1.26.15
